@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

.card {
  width: 300px;
  height: 450px;
  border-radius: 14px;

  background-image: url("hotel.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-family: "Black Han Sans", sans-serif;
}

.a {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  width: fit-content;
  font-size: 14px;
}

.b {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
