.palette {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

.box {
  width: 100px;
  height: 100px;
}

.a {
  background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
}

.b {
  background-color: skyblue;
}

.c {
  background-color: black;
}

.d {
  background-color: green;
}

.e {
  background-color: turquoise;
}

.f {
  background-color: blue;
}

.g {
  background-color: yellow;
}

.h {
  background-color: salmon;
}

.i {
  background-color: red;
}
